body {
    background-color: pink;
    margin: 0 250px 0 250px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: arial;
}
h1:hover{
    color:black;
}


#top-quote {
    color: white;
    text-align: center;
}

#list {
    font-family: "arial black";
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bottom-quote {
    color: white;
    font-size: 50px;
}

h4 {
    text-align: center;
}