body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
}
main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    height: 600px;
}
img {
    grid-row: 1/-1;
    width: 300px;
    min-height: 100%;
}
h3 {
    text-align: right;
    color: rgb(80, 80, 80);
    font-size: 30px;
    margin: 0;
}
h1 {
    color: rgb(80, 80, 80);
}
input {
    border-radius: 5px;
    height: 50px;
    margin: 5px;
}
div {
    grid-column: 2/3;
    margin: 0 auto;
    background-color: rgb(223, 119, 84);
    border-radius: 5px;
    max-height: 60px
}
div h1 {
    color: white;
    font-size: 25px;
    padding: 0 30px;
}
label {
    margin-top: -40px;
    margin-left: 26px;
    display: block;
}

/* Andrew Morris */