body {
    background-color: #c2c5aa;
}

hr {
    margin: 0 auto;
    width: 100%;
}
#login-box {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: 50px auto;
    padding-right: 50px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 40px 50px 40px 50px 80px 30px 70px 1px 80px;
    column-gap: 50px;
}
.alt-login {
    margin: 10px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.google {
    width: 100%;
    background-color: #db4a39;
    color: white;
}
.google:hover {
    background-color: #8b2f25;
}
.facebook {
    width: 100%;
    background-color: #3b5998;
    color: white;
}
.facebook:hover {
    background-color: #253861;
}
form img {
    grid-row: 1/-1;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.text-box {
    margin: 0;
    border-radius: 7px;
    border: none;
    background-color: rgb(228, 228, 228);
    padding-left: 15px;
}
button {
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 7px;
}
.log-in {
    margin-top: 30px;
    background-color: #c2c5aa;
}
.log-in:hover {
    background-color: #818371;
}
.sign-up {
    background-color: #d37222;
    margin: 15px 0;
    color: white;
}
.sign-up:hover {
    background-color: #914e18;
}
.forgot-password {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: rgb(83, 83, 255);
}
h4 {
    font-size: 15px;
    margin-bottom: 0;
    text-align: left;
}