body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Handlee, Arial;
}
p {
    font-family: Quicksand, Helvetica, sans-serif;
    text-align: left;
}
a {
    text-decoration: none;
    font-family: Handlee, Arial;
}
header {
    display: grid;
    grid-template-columns: 100px 60px 250px 1fr;
    align-items: center;
    justify-items: center;
    max-height: 60px;
}
#logo-link img {
    height: 60px;
    padding: 0px;
}
#search {
    font-size: 30px;
    justify-self: right;
}
.search-bar {
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    width: 200px;
    margin-left: 10px;
    justify-self: left;
}
nav {
    align-items: center;
    justify-items: center;
    max-height: 60px;
}
#profile-link:hover {
    background-color: #363e2800;
}
header .profile-pic img {
    height: 60px;
    padding: 10px;
    padding-right: 0;
    margin-right: 0;
    margin-left: 100px
}
.left-menu {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    background-color: #c2c5aa;
    display: inline-block;
}
.side-nav a {
    color: #363e28
}
.left-menu ul {
    list-style-type: none;
    margin: 30px 0 0 35px;
    padding: 0;
    text-align: left;
    font-size: 30px;
    line-height: 2.5em;
}
.left-menu a:hover {
    text-decoration: underline;
}
#content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    margin: 0;
    padding: 0;
}
main {
    overflow-y: auto;
}
#post-now {
    background-color: #c2c5aa;
    width: 90%;
    margin: 50px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr;
}
.profile-pic img {
    height: 60px;
    padding: 10px;
    margin-left: 0;
}
hr {
    width: 95%;
    margin: 10px auto;
    height: 1px;
    border: none;
    background-color: #363e2879;
}
#post-now hr {
    grid-column: 1/-1;
}
#post-now form {
    grid-column: 2/-1;
    padding: 10px;
}
.post-bar {
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    width: 90%;
    height: 50px;
}
.photo {
    grid-column: 2;
}
#post-now a {
    color: #d37222;
    font-size: 25px;
    margin-bottom: 10px;
}
#post-now a:hover {
    text-decoration: underline;
}
.post {
    background-color: #c2c5aa;
    width: 90%;
    margin: 50px auto;
    border-radius: 20px;
}
.post-top {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 30px 5px 300px 60px;
}
.post .profile-pic .name,
.post .profile-pic img {
    display: inline-block;
}
.post .profile-pic {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: left;
}
.post .name {
    text-align: left;
    margin-left: 10px;
}
.post .name h1 {
    font-size: 25px;
}
.post .name h4 {
    font-size: 13px;
    margin-top: -20px;
}
.post .post-content {
    grid-row: 4/5;
    grid-column: 1/-1;
}
.post .post-content {
    max-height: 300px;
    max-width: 90%;
}
.post-top .likes {
    grid-row: -2/-1;
    grid-column: 1/-1;
    text-align: left;
    margin: 20px auto 0 50px;
}
.post-top .comments {
    grid-row: -2/-1;
    grid-column: 2/3;
    text-align: right;
    margin: 20px 50px 0 auto;
}
.post-top .likes i,
.post-top .likes h3,
.post-top .comments i,
.post-top .comments h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 15px;
}
.post-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.post-middle .like-button i,
.post-middle .like-button h3,
.post-middle .comment-button i,
.post-middle .comment-button h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #d37222;
    font-size: 20px;
}
.post-middle .like-button {
    text-align: center;}
.post-middle .comment-button {
    text-align: center;
}
.post-bottom {
    display: grid;
    grid-template-columns: 100px 100px 1fr 100px 1fr;
}
.comment, .reply {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
}
.comment-box {
    background-color: #363e28;
    border-radius: 10px;
    border-top-left-radius: 0;
    grid-column: 2/-1;
    margin-top: 25px;
}
.comment-box h5 {
    color: #c2c5aa;
    font-size: 20px;
    margin: 15px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}
.comment-box p {
    color: #c2c5aa;
    margin: 15px;
    margin-top: 0;
    padding: 0;
    font-size: 17px;
}
.post-bottom h6 {
    margin: 4px 0 0 10px;
    padding: 0;
    text-align: left;
}
.reply {
    grid-column: 2/5;
}
#post1-bottom, #post2-bottom {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    height: 100px;
    align-items: center;
    justify-items: center;
}
.comment-bar {
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    width: 90%;
    height: 20px;
    justify-self: left;
    align-self: center;
}
footer {
    background-color: #363e28;
    margin-top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr;
    min-height: 80px;
}
footer h3, footer a {
    color: #c2c5aa;
    align-self: center;
    justify-self: center;
    font-size: 17px;
    font-weight: bold;
}
footer a:nth-of-type(3) {
    justify-self: right;
    margin-right: 50px
}
footer a:hover {
    text-decoration: underline;
}