* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #d37222;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body {
  width: 100vw;
  margin-right: 0;
  overflow-x: hidden;
}
.slideshow-container {
  width: 70%;
  grid-column: 1/-1;
}
#account-box {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  border-radius: 20px;
}
#account-box .background img {
  object-fit: cover;
  width: 130%;
  height: 300px;
  object-position: -50% 65%;
}
#account-box .background {
  grid-column: 1/-1;
  grid-row: 1/-1
}
#account-box .profile-pic {
  grid-column: 1/2;
  grid-row: 1/-1;
  align-self: center;
}
#account-box .profile-pic img {
  height: 50%
}
#account-box h1 {
  grid-column: 2/3;
  grid-row: 1/-1;
  margin: auto auto auto 15px;
  color: white;
  font-size: 60px;
}
#account-box h2 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 27px auto auto 15px;
  color: #c2c5aa;
  font-size: 20px;
}
#account-box h1, 
#account-box h2 {
  text-shadow: 1px 1px 5px black;
}
header .profile-pic img, 
#post-now .profile-pic img, 
.post .profile-pic img {
  height: 80px;
}
.comment-bar {
  border-radius: 20px;
  border: none;
  padding: 5px;
  padding-left: 15px;
  width: 90%;
  height: 30px;
  justify-self: left;
  align-self: center;
}
.post-bar {
  border-radius: 20px;
  border: none;
  padding: 5px;
  padding-left: 15px;
  width: 90%;
  height: 60px;
}